

            .thumbnail {
                width: 100%;
            }
            
            .video-info-grid {
                display: grid;
                grid-template-columns: 50px 1fr;
            }

            .channel-picture {
                background-color: rgb(248, 248, 248);
            }

            .profile-picture {
                width: 36px;
                border-radius: 50px;                
            }

            .video-info {
                background-color: rgb(248, 248, 248);
            }

            .video-title {
                margin-top: 0;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                margin-bottom: 10px;
            }

            .thumbnail-row {
                margin-bottom: 8px;
                position: relative;
            }

            .video-author,
            .video-stats {
                font-size: 12px;
                color: rgb(71, 71, 71);
            }

            .video-author {
                margin-bottom: 4px;
            }

            .video-grid {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 15px;
                row-gap: 40px;
            }

            @media (max-width: 750px) {
                .video-grid {
                    grid-template-columns: 1fr 1fr;
                }
            }

            .video-time {
                font-family:Roboto,Arial;
                font-size: 12px;
                font-weight: 500;
                padding: 4px;
                border-radius: 2px;
                background-color: black;
                color: white;
                position: absolute;
                bottom: 10px;
                right: 5px;
            }